<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="top-bar">
        <div id="top-message-container">
            <span id="welcome-text">Welcome: {{ username }}</span>
            <span id="top-message"></span>
        </div>
        <form method="POST" action="/logout" style="margin: 0;">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>

    <div id="main-layout">
        <div id="navbar">
            <h2>Navbar</h2>
            <a href="#">Home</a>
            <a href="/profile">Profile</a>
            <a href="#">Achievements</a>
            <a href="#">Player Stats</a>
            <a href="#">Leaderboard</a>
        </div>

        <div id="game-container">
            <canvas id="game-board"></canvas>
        </div>

        <div id="connected-users">
            <h3>Connected Users:</h3>
            <div id="user-list"></div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        const authToken = "{{ auth_token }}";
        let imgURL = new Image();
        imgURL.src = "{{ imageURL }}"
    </script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
